
<main id="main">
<section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>Empty Text idhar. Thoda aur</h2>
            <h3>Ab yeh sab maine sab aise hii faltu mei likha hai. Ispe jada focus mat karo</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
                Yeh dekho ki yaha pe kaam ki baat kaisi lagegi. Voh main baat hai na bhau. 
              Samjhe ki nai?
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Checking for plausible denibility </li>
              <li><i class="ri-check-double-line"></i> Are you a kleptomanic?</li>
              <li><i class="ri-check-double-line"></i> I suffer from Encephalitis</li>
            </ul>
            <p class="font-italic">
              What is that you ask? and no i'm not crazy. 
              I just can't sleep. My dreams won't let me. That's all. Nothing major. 
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
  </main>