<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo"><a href="index.html">KS Fastner</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">

        <ul>
          <li class=""><a href="{% url 'home'%}">Home</a></li>

          <li class=""><a href="#about">About</a>
            
          </li>

          
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#footer">Contact</a></li>
          <li><a href="#">Pricing</a></li>
          
          

        </ul>

      </nav><!-- .nav-menu -->

      <a href="{% url 'callBack'%}" class="get-started-btn ml-auto">Call back?</a>

    </div>
  </header><!-- End Header -->